<footer>
    <div class="container">
        <div class="row">
            <div class="comm col-md-6">
                <div class="icon">
                    <i class="fas fa-map-signs fa-5x"></i>
                </div>
                <div class="cominfo">
                    <p>TEL：886-2-3765-1488</p>
                    <p>FAX：886-2-8787-5665</p>
                    <p>E-mail：sunpinge@ms33.hinet.net</p>
                </div>
            </div>
            <hr />
            <div class="comm col-md-6">
                <div class="icon">
                    <i class="fas fa-location-arrow fa-5x"></i>
                </div>
                <div class="cominfo">
                    <p>110臺北市信義區松隆路272號5樓</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="copyright" class="col-md-12">
                <p>© Copyright 2021 Sun Pin Technology | All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>