* {
    font-family: 'Microsoft JhengHei', sans-serif;
    box-sizing: border-box;
    /* border:2px solid red; */
}
nav img {
    width: 40px;
    height: 40px;
    margin-right: 2px;
    border-radius: 50px;
}
footer {
    background: url(/img/silver.jpg) repeat;
    padding: 15px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.comm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#copyright {
    text-align: center;
    padding: 7px 15px 0;
    font-weight: bolder;
    color: #0179cb;
    font-size: 18px;
}

.carousel, .carousel-inner img {
    max-width: 1000px;
    max-height: 600px;
    margin: 0 auto;
    border-radius: 10px;
}